<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cv.mycar.dao.mapper.MiaoshaUserMapper" >
  <resultMap id="BaseResultMap" type="com.cv.mycar.dao.model.MiaoshaUser" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="salt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="head" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="register_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_login_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="login_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from miaosha_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cv.mycar.dao.model.MiaoshaUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into miaosha_user (nickname, password, salt, 
      head, register_date, last_login_date, 
      login_count)
    values (#{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{head,jdbcType=VARCHAR}, #{registerDate,jdbcType=TIMESTAMP}, #{lastLoginDate,jdbcType=TIMESTAMP}, 
      #{loginCount,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cv.mycar.dao.model.MiaoshaUser" >
    update miaosha_user
    set nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      head = #{head,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=TIMESTAMP},
      last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      login_count = #{loginCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, nickname, password, salt, head, register_date, last_login_date, login_count
    from miaosha_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, nickname, password, salt, head, register_date, last_login_date, login_count
    from miaosha_user
  </select>
</mapper>